<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/src/css/canvas.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/dist/canvas.js"></script>

        <!-- Code Mirror -->
        <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
        <script src="http://codemirror.net/lib/codemirror.js"></script>
        <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
        <script src="http://codemirror.net/mode/python/python.js"></script>
        <script src="http://codemirror.net/mode/clike/clike.js"></script>
    </head>
    <body>
        <div>
            <h1>Javascript Canvas Runner</h1>
        </div>
        <div>
            <textarea id="codesnippet_editable" name="codesnippet_editable" rows="5" cols="100"></textarea>
        </div>
        <div>
            <select id="canvas-select" name="canvas">
                <option value="fillRect" selected="selected">fillRect</option>
                <option value="triangle">triangle</option>
                <option value="smile">smile</option>
            </select>
            <button id="draw-btn" type="button">draw!</button>
        </div>
        <div>
            <canvas id="canvas"></canvas>
        </div>
    </body>
</html>