<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ONLINE COMPILER</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- canvas js css -->
        <link rel="stylesheet" href="/src/css/canvas.css">
        <!-- Bootstrap core JavaScript & css -->
        <link href="/src/css/sb/all.min.css" rel="stylesheet" type="text/css">
        <link href="src/css/sb/sb-admin.css" rel="stylesheet">
        <script src="/src/js/lib/jquery.min.js"></script>
        <script src="/src/js/lib/bootstrap.bundle.min.js"></script>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="/">ONLINE COMPILER</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
            </button>
        </nav>
        <div id="wrapper"></div>
        <div id="root"></div>
        <!-- Bundle.js -->
        <script src="/dist/bundle.js"></script>
    </body> 
</html>