<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/src/css/compile.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/dist/compiler.js"></script>

        <!-- Code Mirror -->
        <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
        <script src="http://codemirror.net/lib/codemirror.js"></script>
        <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
        <script src="http://codemirror.net/mode/python/python.js"></script>
    </head>
    <body>
        <div>
            <h1>Javascript Online Compile</h1>
        </div>
        <div>
            <textarea id="codesnippet_editable" name="codesnippet_editable" rows="5" cols="100"></textarea>
        </div>
        <div>
            <select id="compile-select" name="language">
                <option value="javascript" selected="selected">javascript</option>
                <option value="java">java</option>
                <option value="python">python</option>
            </select>
            <button id="compile-btn" type="button">compile!</button>
        </div>
        <div>
            <table id="compile-table">
                <tr>
                    <td>output</td>
                    <td id="compile-output"></td>
                </tr>
                <tr>
                    <td>millisecond</td>
                    <td id="compile-time"></td>
                </tr>
            </table>
        </div>
    </body>
</html>