BODY {width : 100%; min-height: 300px;}

.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
}

#draw-btn {
    margin: 10px;
}

#canvas,
#canvas-ex {
	border: 1px solid black;
	margin: 10px;
}

#draw-result {
	display: table-cell;
    border: 1px solid black;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}