BODY {width : 100%; min-height: 300px;}

.CodeMirror {
    width: 50%;
    border: 1px solid black;
    font-size: 13px;
    display: inline-block;
    overflow: auto;
}

.card-body {
    white-space: nowrap;
}

#canvas-question {
    width: 50%;
    height: 300px;
    border: 1px solid black;
    font-size: 13px;
    display: inline-block;
    overflow: auto;
    white-space: pre;
}

#draw-btn {
    margin: 10px;
}

#canvas,
#canvas-ex {
	border: 1px solid black;
	margin: 10px;
}

#draw-result {
    margin-left: 10px;
    width: 80px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}