BODY {width : 100%; min-height: 300px;}

.CodeMirror {
    font-size: 13px;
    border: 1px solid black;
}

#compile-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

#compile-table tr:nth-child(2) {
	height: 100px;
}